/*
Allgemeines
*/

body {
    /*background: blue;*/
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("Bilder/team.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}

.hidden {
    display: none;
}

/*
Header
*/

/*Generelles Styling der Kopfleiste*/
.navbar {
    overflow: hidden;
    /*background: darkblue;*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    font-family: sans-serif;
    padding: 1% 10%;
}

/*Logo Schriftzug*/
.navbar a.logo {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}

/*Settings Icon*/
.navbar img {
    max-width: 40px;
    max-height: 40px;
}

.navbar a.settings {
    margin: 5px 15px;
}

/*Suchleiste*/
.navbar input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 250px;
}

/*Container um Suche und Settingsicon rechts zu haben*/
.navbar-right {
    float: right;
    display: flex;
    flex-wrap: wrap;
}

/*
Detailanzeige eines Freundes
*/
#detailanzeige {

}

/*Klasse für den Weißen Hintergrund*/
.page {
    margin: 5% 10%;
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9));
    padding: 5%;
}

/*Container für die Daten des Freundes (Vorname, Nachname, etc.)*/
.infos {
    display: inline-block;
    width: 66%;
}

.infos tr {

}

.infos td {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 15px;
}

/*Container für das Bild des Freundes*/
.portrait {
    display: inline-block;
    width: 33%;
}

.portrait img {
    width: 100%;
    border: 10px solid black;
    background: white;
}
