/*
Allgemeines
*/

body {
    /*background: blue;*/
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("Bilder/team.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}

.hidden {
    display: none;
}

/*
Header
*/

/*Generelles Styling der Kopfleiste*/
.navbar {
    overflow: hidden;
    /*background: darkblue;*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /*font-family: sans-serif;*/
    color: white;
    padding: 1% 10%;
    font: 400 100px/1.2 'Leckerli One', Helvetica, sans-serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
}

/*Logo Schriftzug*/
.navbar a.logo {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}

/*Settings Icon*/
.navbar img {
    max-width: 40px;
    max-height: 40px;
}

.navbar a.settings {
    margin: 5px 15px;
}

/*Suchleiste*/
.navbar input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 250px;
}

/*Container um Suche und Settingsicon rechts zu haben*/
.navbar-right {
    float: right;
    display: flex;
    flex-wrap: wrap;
}




/*
Detailanzeige eines Freundes
*/
#detailanzeige {

}

/*Klasse für den Weißen Hintergrund*/
.page {
    margin: 5% 10%;
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9));
    padding: 5%;
    width: 80%;
}

/*Schriftart*/
.infos p {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
}

.infos span {
    float: right;
}

@media (max-width: 767.98px)  {
    .infos span {
        float: none;
    }
    .infos:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
        border-radius: 5px;
        padding:
    }
}

/*Container für die Daten des Freundes (Vorname, Nachname, etc.)*/
.infos {
    margin: 10px;
}

/*Container für das Bild des Freundes*/
.portrait {
    float: right;
    max-width: 80%;
    border: 10px solid black;
    background: white;
}








/*
Seite zum Hinzufügen eines neuen Freundes
*/

/*Container für den Eintrag der Freunde*/
/*input {
    background: transparent;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #000000;
}

.addpicture{
    text-align: center;

}
.page img {
    display: block;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;


}*/
