/*
Allgemeines
*/
html{
  color: white;
}

*{
  margin: 0;
}

body {
  display: block; /* jedes Element im Body kommt in eine neue Zeile*/
  background:blue;
}

/*
Header
*/

header {
  display: flex; /*display:flex - Jedes Element im Header wird aneinander gereiht*/
  background: darkblue;
  width: 100%;
}

header div { /* kann auch header > div sein -->*/
  display: flex;
  align-items: center; /* gilt für die elemente untereinander*/
  /*margin:auto;*/
  text-decoration: none;
  width: 100%;
  margin: 0 10%;
}

header img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 0;
}
header h1{
  font-size: 3.5rem;
  color: white;
  margin-left: 0;
  font-family: 'Lobster', cursive;
}
button {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  float: right;
  margin-right: 0;
}
#einstellungen:hover{
  transform:scale(1.2);
}
main{
    /*background:blue , lässt unteren Bereich frei*/
  display: flex;
  align-items:center;
  flex-direction: column;
}

.description {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.visitenkarten{
  display: flex;
  flex-wrap: wrap; /*sorg für umbruch nach unten*/
  justify-content: center; /* bild erschein immer in der mitte. gilt für den ganzen block*/
}

.visitenkarten > .card{
  width:  250px;
  height: 250px;
  border: 5px solid lightgrey;
  margin: 10px;
  border-radius: 10px;
}

.visitenkarten > .card:hover{
  transform:scale(1.2);
}

.visitenkarten > .card >img {
  width: 100%;
  height: 100%;
}
